.setting .v-subheader {
  align-items: inherit;
  display: flex;
  height: 4.6rem;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0;
}
.setting .v-list-item__title {
  color: black;
  font-weight: 600;
}
